body {
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

#assignment-instructions {
  color: blue;
  font-family: sans-serif;
}

.green code {
  color: green;
}

li {
  font-family: inherit;
}

li ~ li {
  background: black;
  color: white;
}

ol li {
  background: black;
  color: white;
}
